<section *ngIf="userRepos$ | async as userRepos; else loadingTemplate">
  <search [list]="userRepos" [searchAttributes]="['repoName']" (searchResult)="onSearchResult($event)"></search>
  <section class="repo-section">
    <div (click)="navigateToCommits(repo.owner.name, repo.repoName)" class="card" *ngFor="let repo of filteredRepos">
      <span class="header">
        <h4> {{ repo.repoName }}</h4>
        <img [src]="repo.owner.avatarUrl" alt="owner profile">
        <span class="tag">{{ repo.visibility }}</span>
      </span>

      <p class="desc">{{ repo.description}}</p>

      <div class="break"></div>

      <p> Last updated: {{ repo.updatedAt | date }}</p>
      <span class="language" *ngIf="repo.language"><div [style.background-color]="repo.languageColour" class="language-div"></div><small>{{repo.language}}</small></span>
    </div>
    <div class="no-results" *ngIf="filteredRepos.length == 0">
      <ng-icon name="heroFaceFrown"></ng-icon>
      <h1>No Results Found</h1>
    </div>
  </section>
</section>

<ng-template #loadingTemplate>
  <loading-spinner text="Loading Github Information..."/>
</ng-template>

