<loading-spinner *ngIf="submitted" text="Signing up..." [overlay]="true"/>
<section>
  <form [formGroup]=registerForm (ngSubmit)="formSubmit()">
    <img src="../../../../assets/logo.png" alt="logo">
    <h2>Welcome to Git Guard</h2>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{errorMessage}}</p>
      <button (click)="closeAlert()">x</button>
    </div>

    <div class="input-container">
      <input type="email" formControlName="email" placeholder="email" [ngClass]="{'invalid-input': showEmailRequiredError() || showEmailFormatError()}"/>
      <small *ngIf="showEmailRequiredError()">Email is required.</small>
      <small *ngIf="showEmailFormatError()">Please enter a valid email address.</small>
    </div>

    <div class="input-container">
      <input type="text" formControlName="forename" placeholder="name" />
    </div>

    <div class="input-container">
      <input type="password" formControlName="password" placeholder="password" [ngClass]="{'invalid-input': showPasswordRequiredError() || showPasswordFormatError()}"/>
      <small *ngIf="showPasswordRequiredError()">Password is required.</small>
      <small *ngIf="showPasswordFormatError()">Please enter a valid password.</small>
    </div>

    <div class="input-container">
      <input type="password" formControlName="confPassword" placeholder="confirm password" />
      <small *ngIf="showPasswordMatchError()">Passwords do not match.</small>
    </div>

    <button [disabled]="registerForm.invalid" class="reg" type="submit">Register</button>

    <div class="links-container">
      <a [routerLink]="['/login']">Login</a>
    </div>
  </form>
</section>
