div {
  position:relative;
  padding: 0;
  margin: 0;
  width: fit-content;
}

input {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 0 inset;
  :focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
  }
}

ng-icon {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 25%;
}
