section, .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: #1C2433;
  height: 100vh;
  padding-top: 2.5em;
}

.links {
  padding: 2.5em .8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bottom {
  margin-top: auto;
}

a {
  display: flex;
  text-decoration: none !important;
  border-radius: 10px;
  padding: .25em 1.25em;
  cursor: pointer;
  width: 100%;
  gap: 1em;
}

a:hover:not(.active) {
  background-color: #2b3748;
  transition: .4s all ease;
  box-shadow: 0 0 0 1px lightgray;

/*  ng-icon, h4 {
    color: #1C2433;
  }*/
}

.active {
  background-color: #6855E0;
}

img {
  width: 35px;
  cursor: pointer;
}

h2 {
  color: white;
}

ng-icon, h4 {
  color: white;
  font-size: 1.5em;
  transition: color 0.2s ease;
}

h4 {
  padding-top: 1px;
  font-size: 1em !important;
}

.line-break {
  margin: 1em 0;
  border-bottom: 1px solid white;
  width: 70%;
}

@media only screen and (max-width: 700px) {
  h4, h2 {
    display: none;
  }
}
