section {
  display: flex;
  flex-direction: column;
  margin: 2em;
  gap: 2em;
}

.repository-about {
  flex-direction: row !important;
  align-items: start !important;
  width: 100% !important;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .sync-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    align-self: center;

    button {
      padding: .5em 2em;
    }

    .error-icon {
      font-size: 1.25rem;
      color: #A9363C;
    }
  }

  a {
    cursor: pointer;
    color: #24292e;
    text-decoration: underline #24292e;
  }

  a:hover {
    border-color: #6855E0;
    color: #6855E0;
  }
}

.metric-overview {
  flex-direction: row;
  margin: 0;

  .container {
    border: 1px solid lightgray;

    div {
      border: 2px solid;
      font-size: 2rem;
    }
  }
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr)); /* Responsive grid */
  margin: 0;

  .container {
    width: 100%;

    table {
      width: 100%;
    }
  }
}

img {
  width: 50px;
  border-radius: 999px;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 1em;

  background-color: white;
  border-radius: 10px;
  padding: 1em 2em;
}

.complexity-container {
  align-items: start;
}

.complexity-indicator {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  width: 100%;
}

.moderate, .high, .very-high, .low {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  padding: .2em .75em;
  border-radius: 999px;
  font-weight: 600;
  border: 1px solid;
}

.moderate {
  background-color: #fff4db;
  color: #FEC134;
  border-color: #FEC134;
}

.high {
  background-color: #ffd7bf;
  color: #FE7523;
  border-color: #FE7523;
}

.very-high {
  background-color: #ffbbbd;
  color: #A9363C;
  border-color: #A9363C;
}

.low {
  background-color: #dbffc3;
  color: #719752;
  border-color: #719752;
}

.metric-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: .5em;

  button {
    padding: 0.25em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pre {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: fit-content;
  user-select: none;
}

.pre-empty {
  padding: 1em;
}

.doc-header {
  display: inline-flex;
  align-items: center;
  gap: .5em;
}

/* code-file-changes.component.scss */
.code-line {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

.line-number {
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 1.5em;
  color: #888;
}

.line-text {
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.added {
  background-color: rgba(200, 247, 197, 0.50); /* Light green background for added lines */
}

.removed {
  background-color: rgba(249, 192, 192, 0.50); /* Light red background for removed lines */
}

.box {
  width: 15px;
  height: 15px;
}

.code-container, .file-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.code-container {
  gap: 1em;
}

.file-container {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
}

.file-container:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.changes-box {
  display: inline-flex;
  align-items: center;
  gap: .25em;

  .added {
    background-color: rgba(200, 247, 197);
  }

  .removed {
    background-color: rgba(249, 192, 192);
  }

  .box-text {
    margin-left: .5em;
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .metric-overview {
    gap: .5em;

    .container {
      padding: .5em 1em 1em 1em;
      border: 1px solid lightgray;
      gap: .5em;

      div {
        font-size: 1.5em;
      }

      h4 {
        font-weight: 500;
      }
    }
  }
}
