<section *ngIf="repoOverview$ | async as overview; else loadingTemplate">
  <div class="repository-about container">
    <span>
      <img [src]="overview.owner_url">
      <a [href]="overview.githubLink" target="_blank">
        <h3>{{overview.title}}</h3>
      </a>
      <p>{{overview.description}}</p>
    </span>

    <div class="sync-container">
      <ng-icon class="error-icon" *ngIf="showUpdatePush(overview.lastAnalysed)" name="heroExclamationTriangle"></ng-icon>
      <p>Last Analysed: <b>{{overview.lastAnalysed ? (overview.lastAnalysed | formatDate) : 'Never'}}</b></p>
      <button (click)="syncRepoClick()">
        Sync
        <ng-icon name="heroArrowPath"></ng-icon>
      </button>
    </div>
  </div>

  <section class="metric-overview">
    <div class="container">
      <h4>Average Complexity</h4>
      <div [ngClass]="overview.averageComplexityGradeClass">{{overview.averageComplexityGrade}}</div>
      <p>{{overview.averageComplexity}}</p>
    </div>

    <div class="container">
      <h4>Average Comment Ratio</h4>
      <div [ngClass]="overview.averageCommentRatioClass">{{overview.averageCommentRatioGrade}}</div>
      <p>{{overview.averageCommentRatio}}</p>
    </div>

    <div class="container">
      <h4>Average Maintainability</h4>
      <div [ngClass]="overview.averageMaintainabilityClass">{{overview.averageMaintainabilityGrade}}</div>
      <p>{{overview.averageMaintainability}}</p>
    </div>
  </section>

  <section class="grid-section">
    <div class="container complexity-container" *ngIf="overview.analysis.length != 0">
      <span class="metric-header">
        <h4>Highest Complexity Commits 🚧</h4>
        <button [routerLink]="['/repository', repoOwner, repoName, 'issues']">
          view all
          <ng-icon name="heroArrowRight"></ng-icon>
        </button>
      </span>

      <table>
        <thead>
        <tr>
          <th></th>
          <th>File Name</th>
          <th>Author</th>
          <th class="center">Complexity</th>
          <th class="center">Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of overview.analysis.slice(0, 5)" (click)="test(row)">
          <td class="center">
            <ng-icon *ngIf="row.grade === 'F'" name="heroExclamationTriangle"></ng-icon>
            <ng-icon *ngIf="row.grade !== 'F'"></ng-icon>
          </td>
          <td class="max-content">{{row.fileName}}</td>
          <td>{{row.author}}</td>
          <td class="center">{{row.complexity}}</td>
          <td><div [ngClass]="row.gradeClass">{{row.grade}}</div></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="container complexity-container" *ngIf="overview.analysis.length != 0">
      <span class="metric-header">
        <h4>Lowest Comment Ratio Commits 💬</h4>
        <button [routerLink]="['/repository', repoOwner, repoName, 'issues']">
          view all
          <ng-icon name="heroArrowRight"></ng-icon>
        </button>
      </span>

      <table>
        <thead>
        <tr>
          <th></th>
          <th>File Name</th>
          <th>Author</th>
          <th class="center">Ratio</th>
          <th class="center">Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of getCommentRatioOrder(overview.analysis)" (click)="test(row)">
          <td class="center">
            <ng-icon *ngIf="row.commentGrade === 'F'" name="heroExclamationTriangle"></ng-icon>
            <ng-icon *ngIf="row.commentGrade !== 'F'"></ng-icon>
          </td>
          <td class="max-content">{{row.fileName}}</td>
          <td>{{row.author}}</td>
          <td class="center">{{row.ltc_ratio}}</td>
          <td><div [ngClass]="row.commentGradeClass">{{row.commentGrade}}</div></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="container complexity-container" *ngIf="overview.analysis.length != 0">
      <span class="metric-header">
        <h4>Worst Maintainability 🔧</h4>
        <button [routerLink]="['/repository', repoOwner, repoName, 'issues']">
          view all
          <ng-icon name="heroArrowRight"></ng-icon>
        </button>
      </span>

      <table>
        <thead>
        <tr>
          <th></th>
          <th>File Name</th>
          <th>Author</th>
          <th class="center">Maintainability</th>
          <th class="center">Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of getMaintainabilityOrder(overview.analysis)" (click)="test(row)">
          <td class="center">
            <ng-icon *ngIf="row.maintainabilityGrade === 'F'" name="heroExclamationTriangle"></ng-icon>
            <ng-icon *ngIf="row.maintainabilityGrade !== 'F'"></ng-icon>
          </td>
          <td class="max-content">{{row.fileName}}</td>
          <td>{{row.author}}</td>
          <td class="center">{{row.maintain_index}}</td>
          <td><div [ngClass]="row.maintainabilityGradeClass">{{row.maintainabilityGrade}}</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>

<ng-template #loadingTemplate>
  <loading-spinner [text]="loadingText"/>
</ng-template>

<app-sidebar (isOpenChange)="clearData()">
  <div class="sidebar-content" *ngIf="sideBarData; else loadingTemplate">
    <div class="doc-header">
      <ng-icon name="heroDocument"></ng-icon>
      <h3>{{sideBarData.filename}}</h3>
      <p>- {{sideBarData.author}}</p>
    </div>

    <div class="changes-box">
      <div *ngFor="let _ of getRange(sideBarData.additions)" class="added box"></div>
      <div *ngFor="let _ of getRange(sideBarData.deletions)" class="removed box"></div>
      <p class="box-text">
        <b>{{sideBarData.changes}}</b> changes:
        +<b>{{sideBarData.additions}}</b> additions,
        -<b>{{sideBarData.deletions}}</b> deletions
      </p>
    </div>

    <section class="metric-overview" *ngIf="sideBarData.complexity != null">
      <div class="container">
        <h4>Complexity</h4>
        <div [ngClass]="sideBarData.gradeClass">{{sideBarData.grade}}</div>
      </div>

      <div class="container" *ngIf="sideBarData.ltc_ratio != null">
        <h4>Comment Ratio</h4>
        <div [ngClass]="sideBarData.commentGradeClass">{{sideBarData.commentGrade}}</div>
      </div>

      <div class="container" *ngIf="sideBarData.maintain_index != null">
        <h4>Maintainability</h4>
        <div [ngClass]="sideBarData.maintainabilityGradeClass">{{sideBarData.maintainabilityGrade}}</div>
      </div>
    </section>

    <div class="changes-box">
      <button (click)="confirmResolve()" class="b-danger">resolve issue</button>
    </div>
  </div>

  <div style="height: 100%; overflow-y: auto;">
    <pre class="pre" *ngIf="sideBarData?.patch">
      <div *ngFor="let line of parsePatch(sideBarData?.patch)" class="code-line" [ngClass]="{ 'added': line.added, 'removed': line.removed }">
        <span class="line-number">{{ line.lineNumber !== null ? line.lineNumber : '' }}</span>
        <span class="line-text">{{ line.text }}</span>
      </div>
    </pre>
  </div>
</app-sidebar>
