.container {
  display: grid;
  grid-template-areas:
  "navbar appbar"
  "navbar content";
  grid-template-columns: auto 1fr;
  overflow-y: hidden;
}

.main-content {
  grid-area: content;
  height: calc(100vh - 55px);
  overflow-y: auto;
}

nav-bar {
  grid-area: navbar;
}

app-bar {
  grid-area: appbar;
}
