.container {
  display: grid;
  grid-template-areas:
  "navbar appbar"
  "navbar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;
}

.main-content {
  grid-area: content;
  overflow-y: auto;
}

.outlet-height {
  height: calc(100vh - 60px);
  background-color: whitesmoke;
}

nav-bar {
  grid-area: navbar;
}

app-bar {
  grid-area: appbar;
  height: 60px;
}
