<section *ngIf="commits$ | async as commits; else loadingTemplate">
  <div class="timeline">
    <div class="timeline-container" *ngFor="let commit of commits">
      <div class="timeline-icon">
        <ng-icon name="heroCodeBracket"></ng-icon>
      </div>
      <div (click)="navigateToCommitDetails(commit.sha)" class="timeline-body">
        <h4 class="timeline-title"><span class="badge">{{commit.commit.author.name}}</span></h4>
        <p>{{commit.commit.message}}</p>
        <p class="timeline-subtitle">{{commit.commit.author.date | date : 'dd MMM YYYY, h:mm a '}}</p>
      </div>
    </div>
  </div>
</section>

<ng-template #loadingTemplate>
  <loading-spinner [overlay]="true" text="Loading Commits..."/>
</ng-template>
